<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
    <h1> <%= itemHeading %> </h1>
</div>
 <div class="box">
    <% next.forEach(function(item){%>

        <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox"name="checkboxx"value="<%= item._id %>" onChange="this.form.submit()">
            <p> <%= item.name %> </p>
        </form>
        </div>

     <% }) %>




 </div>
   <!-- <%  for (var i=0; i<next.length ; i++){ %>
      <div class="item">
    <input type="checkbox">
    <p> <%= next[i].name %> </p>
</div>
 <% } %> -->


    <form class="middle" action="/" method="post">
   <input type="text" name ="newItem" placeholder="enter the todo list">
   <button type="submit" name = "list" value= <%= itemHeading %> > + </button>





    </form>
</body>
</html>